Source: configure-networkcard
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), dpatch
Standards-Version: 3.7.2

Package: configure-networkcard
Architecture: all
Depends: ethtool, wireless-tools, dialog, pump, su-me (>= 0.2), sidux-xdg, ssft
Recommends: xdialog, zenity
Description: network configuration script
 Minimalistic ncurses/dialog-based network card configuration script for 
 sidux.
