#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

build/configure-networkcard::
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/configure-networkcard $(CURDIR)/po/make_po.sh netcardconfig.mo

install/configure-networkcard::
	mkdir -p debian/configure-networkcard/usr/share/pixmaps
	convert icons/hicolor/32x32/apps/sidux-netcard.png \
		debian/configure-networkcard/usr/share/pixmaps/configure-networkcard.xpm
	convert icons/hicolor/16x16/apps/sidux-netcard.png \
		debian/configure-networkcard/usr/share/pixmaps/configure-networkcard-16.xpm
